@font-face {
    font-family: 'Lato-Thin'; /*a name to be used later*/
    src: url('../fonts/Lato-Thin.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Lato-Light'; /*a name to be used later*/
    src: url('../fonts/Lato-Light.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Lato-Regular'; /*a name to be used later*/
    src: url('../fonts/Lato-Regular.ttf'); /*URL to font*/
}

body {
    padding-top: 3.5rem;
    font-family: "Lato-Light", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato-Regular", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pagelogo {
    width: 4em;
    height: auto;
    border-radius: 50%;
}

.video {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.bordered {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 2px solid rgba(255,255,255,0);
}

.bordered:hover {
    -webkit-animation: borderBlink 1s infinite .1s;    
    animation: borderBlink 1s infinite .1s;    
}

@-webkit-keyframes borderBlink {    
    from, to {    
        border: 2px solid rgba(255,255,255,0);
    }    
    50% {    
        border: 2px solid rgb(255,255,255,1);
        -webkit-box-shadow: inset 0px 0px 5px 2px rgba(255,255,255,1);
        -moz-box-shadow: inset 0px 0px 5px 2px rgba(255,255,255,1);
        box-shadow: inset 0px 0px 5px 2px rgba(255,255,255,1);
    }    
}    
@keyframes borderBlink {    
    from, to {    
        border: 2px solid rgba(255,255,255,0);
    }    
    50% {    
        border: 2px solid rgb(255,255,255,1);
        -webkit-box-shadow: inset 0px 0px 5px 2px rgba(255,255,255,1);
        -moz-box-shadow: inset 0px 0px 5px 2px rgba(255,255,255,1);
        box-shadow: inset 0px 0px 5px 2px rgba(255,255,255,1);
    }    
}

.btn-snd {
    background-color: #FFEEA3;
    border-color: #FFEEA3;
    color: #1D1563;
}

.btn-snd:hover {
    background-color: #F5DC73;
}

.btn-pri {
    background-color: #B57626;
    border-color: #B57626;
    color: #1D1563;
}

.btn-pri:hover {
    background-color: #F5BC73;
}

.task-in-progress {
    background-color: #D3B947;
}

.task-done {
    background-color: #6fd347;
}

.icn-current {
    fill: white;
}

.icn {
    fill: rgba(255, 255, 255, 0.5);
}

.icn:hover {
    fill: rgba(255, 255, 255, 0.75);
}

.icn-disabled {
    fill: rgba(255, 255, 255, 0.25);
}

.icon {
    width: 1.5em;
    height: auto;
}

.cloud-img {
    width: 15em;
    height: auto;
}

.cloud-img-narrow {
    width: 8em;
    height: auto;
}

.lato-thin {
    font-family: "Lato-Thin", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.my-bg-dark {
    background-color: #161A64 !important;
}

.my-clock {
    color: #FFF6A3 !important;
    border-color: #FFF6A3 !important;
}

.my-bg-med-lt {
    background-color: #5D61AA !important;
}

.my-bg-lt {
    background-color: #8B8EC9 !important;
}
  